@font-face {
  font-family: "Comfortaa-SemiBold";
  src: url("static/Comfortaa-SemiBold.ttf") format("truetype");
}

ul.playlist3 {
  width: auto;
  padding: 10px;
  font-family: "Comfortaa-SemiBold";
  font-size: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #00bb57;
  opacity: 0.8;
}

ul.playlist li {
  list-style: none;
}

div.track span {
  vertical-align: bottom;
}

span.controls {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("images/play.png") no-repeat 0;
  vertical-align: bottom;
  cursor: pointer;
}

span.controls:hover {
  background-image: url("images/playing.png");
}

span.playing {
  background-image: url("images/stop.png") !important;
}

span.playing:hover {
  background-image: url("images/stoped.png") !important;
}

span.title {
  display: inline-block;
  width: 245px;
}

span.minus {
  display: none;
  width: 5px;
}

span#timeleft {
  display: inline-block;
  width: 20px;
}

div.progressBar3 {
  width: 100%;
  margin: 3px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
  cursor: pointer;
}

div.progress3 {
  width: 0%;
  height: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #005e32;
}
